/.idea/dataSources/6d2bf6bb-16fb-4e48-9fbc-3a3928fa599c.xml
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/dataSources/6d2bf6bb-16fb-4e48-9fbc-3a3928fa599c/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
/.idea/dataSources/6d2bf6bb-16fb-4e48-9fbc-3a3928fa599c/storage_v2/_src_/schema/performance_schema.kIw0nw.meta
/.idea/sqldialects.xml
/.trae/documents/模块拆分方案_plan.md
