<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.ac.cn//DTD Mapper 3.0//EN"
        "https://mybatis.ac.cn/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xtax.mapper.bomMapper">
<!--    修改-->
    <update id="updateBom">
        update bom set level_num=#{levelNum},drawing_no=#{drawingNo},name_specification=#{nameSpecification},
                       material=#{material},quantity=#{quantity},unit_weight=#{unitWeight},
                       type=#{type}
        where id=#{id}
    </update>

<!--    添加-->
    <insert id="addBom">
        insert into bom(level_num,drawing_no,name_specification,material,quantity,unit_weight,type) value
        (#{levelNum},#{drawingNo},#{nameSpecification},#{material},#{quantity},#{unitWeight},#{type})
    </insert>

<!--    批量删除-->
    <delete id="deleteBom">
        delete from bom where id in
        <foreach collection="list" item="id" separator="," close=")" open="(">
            #{id}
        </foreach>
    </delete>
</mapper>